<style type="text/css">
    .store-item {
        background-color: green;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h1 class="text-center">Store</h1>
            <h2>You have {{state.points}} points to spend. Tap an item to put 100 points towards that item's pool.</h2>

          {{#each state.store as |item itemId|}}
              <div class="row store-item" onclick="selectItem({{itemId}})">
                  <div class="col-sm-12">
                      <h4>{{item.name}}</h4>
                      <span class="pull-right">{{item.pool}} / {{item.cost}}</span>
                  </div>
              </div>
          {{/each}}

            <p>{{state.clients}} players connected</p>
        </div>
    </div>
</div>

<script>
    var selectItem;
    requirejs(['main'], function (main) {
        var socket = main.socket;

        selectItem = function (id) {
            socket.emit('buy item', id);
        };
    });
</script>