<style type="text/css">
    .store-item {
        background-color: green;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .no-select {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>

<div class="container no-select">
    <div class="row text-center">
        <h1>Store</h1>
        <h3><strong>{{points}}</strong> Points</h3>
    </div>
    <div id="store-container">
      {{#each items as |item|}}
          <div class="row store-item" data-item-id="{{item.id}}">
              <div class="col-sm-12">
                  <h4>{{item.name}}</h4>
                  <span class="pull-right">{{item.pool}} / {{item.price}}</span>
              </div>
          </div>
      {{/each}}
    </div>
    <div class="row">
        <p><small>{{playerCount}} players connected</small></p>
        <p><small>Room Code: <strong>{{roomCode}}</strong></small></p>
    </div>
</div>

<script>
    $(function () {
        var game = require('game');
        $('#store-container .store-item').click(function () {
            var itemId = $(this).data('item-id');
            console.log('Adding to pool for ' + itemId);
            game.buyItem(itemId);
        });
    });
</script>